<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.demothermostat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ThermostatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeekOverview"
            android:screenOrientation="portrait" />
        <activity android:name=".TestingWS" />
        <activity
            android:name=".DailyOverview"
            android:label="@string/title_activity_daily_overview" />
        <activity
            android:name=".AddingSchedule"
            android:label="@string/title_activity_adding_schedule" />
        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".VacationPopup"
            android:label="@string/title_activity_vacation_popup"
            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity
            android:name=".HelpPopUp"
            android:label="@string/title_activity_help_pop_up"
            android:theme="@style/AppTheme.CustomTheme2"></activity>
    </application>

</manifest>
